body {
    background-color: #F8F9FA;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #1e315e;
    width: 100%;
    height: 14vh;
    top: 0px;
    margin-top: 0px;
    position: sticky;
    margin: 0;
    z-index: 99999;
}

main {
    display: flex;
    flex-direction: row;
    height: 65vh;
    margin-top: 2vh;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

/* Header div */
.divH {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

/* Main div */
.divM {
    position: relative;
    height: 65%;
    width: 28%;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.281);
    border: 1px solid rgba(128, 128, 128, 0.405);
    border-radius: 2dvh;
    padding: 5%;
    overflow: hidden;
}

.divM-img {
    position: relative;
    height: 98%;
    width: 38%;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.281);
    border: 1px solid rgba(128, 128, 128, 0.405);
    border-radius: 2dvh;
    overflow: hidden;
}

.divM-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 800ms;
}

.divM-img:hover img{
    transform: scale(1.1);
}

.flex-c {
    align-items: center;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    width: 100%;
    margin-top: 30px
}

.flex-i {
    width: 65%;
    display: flex;
    flex-direction: row;
    height: 37vh;
    gap: 20px;
    align-items: center;
}

.itemA {
    position: relative;
    height: 85%;
    width: 40%;
    margin-left: 10px;
    border-radius: 2dvh;
    overflow: hidden;
}

.itemB {
    position: relative;
    height: 85%;
    width: 60%;
    margin-right: 10px;
}

a {
    display: inline-block;
    margin-top: 30px;
    font-family: arial;
    font-size: xx-large;
    color: #1e315e
}

p {
    margin-top: 40px;
}

img {
    width: 100%;
    height: 100%;
    z-index: 1;
}